.detailobjpage {
  position: relative;
  .inner {
    > .objdivision {
      color: #aaa;
      display: block;
      position: relative;
      font-size: 16px;
      width: inherit;
      margin: 16px 0 16px 120px;
      margin-left: 120px;
    }
    > .detailproductwrap {
      display: flex;
      position: relative;
      > .detailimgwrap {
        border: 1px solid #b2b2b2;
        margin-right: 340px;
        > .detailimg {
          width: 400px;
          height: 400px;
        }
      }
      > .detailcontentwrap {
        width: 300px;
        border: 1px solid #b2b2b2;
        padding: 20px;
        > .detailtitle {
          font-size: 18px;
          font-weight: 500;
        }
        > .detailcontent {
          margin: 10px 0;
        }
        .detailcolorwrap {
          ul {
            display: flex;
            .colorround {
              position: relative;
              display: block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              margin: 5px;
              &.black {
                background-color: black;
              }
              &.blue {
                background-color: blue;
              }
              &.orange {
                background-color: orange;
              }
              &.red {
                background-color: red;
              }
              &.white {
                background-color: #eee;
              }
            }
          }
        }
        > .accountnumberwrap {
          width: fit-content;
          margin: 20px auto;
          display: flex;
          border: 1px solid #b2b2b2;
          padding: 10px 20px;

          > p {
            margin: 0 10px;
          }
        }
      }

      .detailbtnwrap {
        display: flex;
        > .btnwrap {
          margin: 10px;
          p {
          }
        }
      }
    }
    .horizenbar {
      &::after {
        content: "";
        display: block;
        width: 1100px;
        height: 1px;
        border-bottom: 1px solid #b2b2b2;
        margin: 30px 0;
      }
    }
    .similartitle {
      display: block;
      position: relative;
      font-size: 20px;
      width: inherit;
      margin: 20px 0 20px 120px;
      margin-left: 120px;
    }
    .similarobjectwrap {
      display: flex;
      position: relative;
      li {
        margin: 10px;
      }
    }
    .reviewtitle {
      display: block;
      position: relative;
      font-size: 24px;
      width: inherit;
      margin-left: 120px;
    }
    > .reviewul {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li {
        .reviewwrap {
          display: flex;
          margin: 20px 0;
          > img {
            width: 80px;
            height: 80px;
            border: 1px solid #b2b2b2;
            border-radius: 50%;
            margin: 0 24px;
          }
          > .reviewfield {
            .reviewrating {
            }
            .reviewnamewrap {
              display: flex;
              position: relative;
              align-items: center;
              .reviewname {
                margin: 12px 0;
              }
              .reviewdate {
                margin-left: 12px;
              }
            }
            .reviewcontent {
              display: block;
              position: relative;
              width: 600px;
            }
          }
        }
      }
    }
  }
}
